<!DOCTYPE html>
{% load staticfiles i18n %}
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}Spark{% endblock %}</title>
    <link rel="icon" type="image/png" href="{% static 'img/favicon.png' %}">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet">
    <link href="{% static 'css/bootcamp.css' %}?v=1" rel="stylesheet">
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <script src="{% static 'js/bootcamp.js' %}"></script>
    {% block head %}{% endblock %}
  </head>
  <body>
    {% block body %}
      {% include 'nav.html' %}
      <main>
        <div class="container">
          {% block main %}
          {% endblock main %}
        </div>
      </main>
      <script src="{% static 'js/notifications.js' %}"></script>
      <script src="{% static 'js/check_messages.js' %}"></script>
    {% endblock body %}
    <script src="{% static 'js/ga.js' %}"></script>
  </body>
</html>
