{% extends 'base.html' %}
{% load staticfiles %}
{% load i18n %}

{% block head %}
  <link href="{% static 'css/courses.css' %}" rel="stylesheet">
  <script src="{% static 'js/jquery.bullseye-1.0-min.js' %}"></script>
  <script src="{% static 'js/courses.js' %}?v=1"></script>
{% endblock head %}

{% block main %}

<div class="row">
  <div class="col-md-10 col-md-offset-1">

  <a href="{% url 'lecture' lecture.course.slug %}">Voltar</a>

  <h3>{{ lecture.course }}</h3>
  <div class="col-sm-12 col-lg-12 col-md-12">
    <div>
      <h2>{{ lecture.title }}</h2>
      <p>{{ lecture.description }}</p>
      {% if lecture.url %}
        <div class="thumbnail">
          <iframe width="100%" src="{{ lecture.url }}" frameborder="0" allowfullscreen></iframe>
        </div>
      {% endif %}
    </div>
  </div>

  </div>
</div>
{% endblock main %}
